[
  {kernel, 
    [{dist_auto_connect, once}, 
     {inet_dist_listen_min, 4370},
     {inet_dist_listen_max, 4380}
    ]},

  {sasl, [{errlog_type, error}]},

  {netmon,
    [
        {behind_firewall, ['etc600','dev1','dev2']}
    ]}
].

% netmon:add_monitor(test, netmon, any, ['b@dev-serge-lap'], {netmon_instance,test_notify}, 10).
% netmon:add_monitor(test, netmon, any, ['a@dev-serge-lap'], {netmon_instance,test_notify}, 10).
