[
  {kernel, 
    [%{dist_auto_connect, once}, 
     {inet_dist_listen_min, 4370},
     {inet_dist_listen_max, 4380}
    ]},

  {sasl, [{errlog_type, error}]},

  {netmon,
    [
     {monitors,
         [ %{'snmp@dev1', [{test, netmon, any, ['snmp@dev4'], {netmon_instance, test_notify}, 10, net_adm}]}
            {'snmp@dev2', [{test, netmon, any, ['snmp@dev3'], {netmon_instance, test_notify}, 10, tcp}]}
           ,{'snmp@dev3', [{test, netmon, any, ['snmp@dev1'], {netmon_instance, test_notify}, 10, passive}]}
           ,{'snmp@dev4', [{test, netmon, any, ['snmp@dev2'], {netmon_instance, test_notify}, 10, passive}]}
         ]},
     {echo_port, 64000},
     %{multicast, {224,1,1,1}},
     %{echo_addr, "192.168.0.2"},
     {port_map, [{'a@dev-serge-lap', 63999}, {'c@dev-serge-lap', 63998}, {a@dev_serge2, 63999}, {b@dev_serge2, 63998}]}
    ]}

].

% netmon:add_monitor(test, netmon, any, ['b@dev-serge-lap'], {netmon_instance,test_notify}, 10).
% netmon:add_monitor(test, netmon, any, ['a@dev-serge-lap'], {netmon_instance,test_notify}, 10).
